*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: #d0b1b8;
}

nav {
    background-color:#7c4d60;
}

#card1{
    background-color:#7c4d60;
    color:#fff;
}

#profile {
    margin-top: 20px;
    margin-left:40px ;
}
