{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<div class="card m-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} d-flex align-items-center mt-4" role="alert">
            <div class="alert">{{ category }}</div>
            
            <div>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        {% endblock %}